{% extends 'usertemp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<body class="p-3 mb-2 bg-danger-subtle text-emphasis-danger">
<div>
<div class="card  mb-3" style="width:600px;margin-left:200px;margin-top:70px;">
  <form method="post">
 {% csrf_token %}
      <label class="form-control-label">Date</label>
      <input required class="form-control" readonly value="{{schedule.date}}">
      <label class="form-control-label">Hospital</label>
      <input required class="form-control" readonly value="{{schedule.hospital}}">
      <label class="form-control-label">Start_time</label>
      <input required class="form-control" readonly value="{{schedule.start_time}}">
      <label class="form-control-label">End_time</label>
      <input required class="form-control" readonly value="{{schedule.end_time}}">
      <input type="submit" value="submit">
</form>
  </div>
</div>
{% endblock %}