{% extends 'usertemp/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card" style="width: 600px; margin-left: 100px; margin-top: 70px;">
<form method="post">
    {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Username</label>
            <input required class="form-control" readonly value="{{ new.username }}">
        </div>

        <div class="mb-3">
            <label class="form-label">Address</label>
            <input required class="form-control" readonly value="{{ new.address }}">
        </div>

        <div class="mb-3">
            <label class="form-label">Child Name</label>
            <input required class="form-control" readonly value="{{ new.child_name }}">
        </div>

        <div class="mb-3">
            <label class="form-label">Child Age</label>
            <input required class="form-control" readonly value="{{ new.child_age }}">
        </div>

        <div class="mb-3">
            <label class="form-label">Gender</label>
            <input required class="form-control" readonly value="{{new.gender}}">
        </div>
</form>
</div>
{% endblock %}
