{% extends 'usertemp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card" style="width:600px;margin-left:100px;margin-top:70px;">
 <table class="table">
  <tbody>
  <tr class="table-info">

      <th scope="col">Hospital</th>
      <th scope="col">Date</th>
      <th scope="col">Start_time</th>
      <th scope="col">End_time</th>
      <th scope="col">Vaccine</th>

      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  {% for i in new %}
  <tr>

      <td>{{i.schedule.hospital}}</td>
      <td>{{i.schedule.date}}</td>
      <td>{{i.schedule.start_time}}</td>
      <td>{{i.schedule.end_time}}</td>
      <td>{{i.schedule.vaccine}}</td>
      <td>
          {% if i.status == 0 %}
              <button type="button" style="display:inline">approved pending</button></a>
           {% elif i.status ==  1 %}
         <button type="button" class="btn btn-success">approved</button>
          {% else %}
         <button type="button" class="btn btn-success">reject</button>
          {% endif %}
      </td>
  </tr>
    {% endfor %}
</table>
</div>
{% endblock %}