{% extends 'nursetemp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card" style="width: 18rem;">
 <table class="table">
  <tbody>
  <tr class="table-info">
      <th scope="col">hospital</th>
      <th scope="col">date</th>
      <th scope="col">start_time</th>
      <th scope="col">end_time</th>

      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  {% for i in new %}
  <tr>
      <td>{{i.hospital}}</td>
      <td>{{i.date}}</td>
      <td>{{i.start_time}}</td>
      <td>{{i.end_time}}</td>

      <td><a href="{% url 'schedule_updates' i.id %}"><button>Update</button></a></td>
      <td><a href="{% url 'schedule_deletes' i.id %}"><button>Delete</button></a></td>
  </tr>
    {% endfor %}
</table>
</div>
{% endblock %}