{% extends 'admintemp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<body class="p-3 mb-2 bg-danger-subtle text-emphasis-danger">
<div>
<div class="card  mb-3" style="width:600px;margin-left:200px;margin-top:70px;">
  <form method="post">
 {% csrf_token %}
      <label class="form-control-label">Child_Name</label>
      <input required class="form-control" readonly value="{{form.user.child_name}}">
      <label class="form-control-label">Child_Age</label>
      <input required class="form-control" readonly value="{{form.user.child_age}}">
      <label class="form-control-label">Date</label>
      <input required class="form-control" readonly value="{{form.schedule.date}}">
      <label class="form-control-label">Vaccine</label>
      <input required class="form-control" readonly value="{{form.schedule.vaccine}}">
    <input type="submit" value="submit">

</form>
  </div>
</div>
{% endblock %}